:root{
    --primary: #0c0c0c;
    --secondary: #f8bb21;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--primary);
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

#back-button {
    background-color: var(--secondary);
    color: var(--primary);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 20px;
    position: absolute;
    left: 20px;
    top: 20px;
}

#back-button:hover {
    background-color: #e0a600;
}

h1 {
    font-size: 2em;
    color: var(--secondary);
    text-align: center;
    margin-top: 0;
}

h2 {
    color: var(--secondary);
    border-bottom: 2px solid var(--secondary);
    padding-bottom: 10px;
    margin-top: 30px;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#items,
#reviews {
    list-style: none;
    padding: 0;
}

#items li,
#reviews li {
    background-color: #1a1a1a;
    margin: 10px 0;
    padding: 20px;
    border-radius: 4px;
}

#comment-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

#comment-text {
    flex-grow: 1;
    width: 50em;
    height: 5em;
    border-radius: 4px;
    border: 1px solid #444;
    background-color: #1a1a1a;
    color: #fff;
    margin-right: 10px;
    resize: none;
}

#comment-text::placeholder {
    color: #bbb;
}

.wishlist-checkbox{
    appearance: none;
    width: 2rem;
    height: 2rem;
    background: url(../assets/icons/wishlistNoteSave.png) center/contain no-repeat;
    cursor: pointer;
}

.wishlist-checkbox:checked{
    background: url(../assets/icons/wishlistSave.png) center/contain no-repeat;
}

.wishlist-checkbox:active{
    transition: 1s linear;
    animation: test 1s linear;
}

@keyframes test {
    0%,24%{
        transform: scale(1.1);
    }
    25%,49%{
        transform: scale(1.2);
    }
    50%,74%{
        transform: scale(1.1);
    }
    75%,100%{
        transform: scale(1);
    }
}

button {
    background-color: var(--secondary);
    color: var(--primary);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #e0a600;
}

#reviews li+li {
    margin-top: 20px;
}

img {
    width: 400px;
    height: 250px;
    border-radius: 10px;
}

.rating input {
    appearance: none;
    width: 2em;
    height: 2em;
    background: url(../assets/icons/emptyStar.png) center/contain no-repeat;
    cursor: pointer;
}

.rating input:checked {
    background: url(../assets/icons/fullStar.png) center/contain no-repeat
}

.rating .star:hover {
    transform: scale(1.1);
}

.addReview_button {
    height: 4em;
    margin-top: 2em;
}

.review-text {
    margin-top: 1em;
}

.review-header {
    display: flex;
    justify-content: space-between;
}

.review-date {
    margin-right: 1em;
}

.sales{
    appearance: none;
    width: 2rem;
    height: 2rem;
    background: url(../assets/icons/cart-empty.png) center/contain no-repeat;
    cursor: pointer;
}

.sales:checked{
    background: url(../assets/icons/cart.png) center/contain no-repeat;
}

.sales:active{
    transform: scale(1.1);
}

.star {
    width: 20px;
    height: 20px;
    margin-right: 2px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--primary);
}

::-webkit-scrollbar-thumb {
    background: #151515;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}