.terms-section .sec-text-big{
    color: #ccc;
    font-size: 20px;
    margin: 15px;
}

.terms-section .faq-content {
  margin: 0 auto;
  color: #ccc;
}

.terms-section h2{
    margin-top: 20px;
    color: #f8bb21;
}

.terms-section h3{
    color: #ccc;
}

.terms-section a{
    text-decoration: none;
    color: #f8bb21;
}

.terms-section .logo{
    color: #fff;
}

.terms-section{
    padding: 10px;
}

main{
    margin-top: 50px;
}